PORT=5002


FRONTED_URL=http://localhost:5173

# FRONTED_URL=https://treasures-population-stationery-substantially.trycloudflare.com
https://photoshhotstudio.onrender.com
# "model": "gemini-2.5-flash-lite"
# "model": "gemini-2.5-flash"
# "model": "gemini-2.5-pro"
# "model": "gemini-2.0-flash"
# "model": "gemini-2.0-flash-lite"

# gemma-3-1b-it

# gemma-3-2b-it

# gemma-3-4b-it

# gemma-3-12b-it

# gemma-3-27b-it

# gemma-3-27b-it
JWT_SECRET=??????????????????????????????????????
USERS_TABLE=users